Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a database based on a non-relational document model. Thus, as a so-called NoSQL database (NoSQL = Not-only-SQL), it differs fundamentally from conventional relational databases.

NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.

MongoDB is preferred in below cases-
1.Storing large volumes of data without structure
2.Using cloud computing and storage.
3.Rapid development.
4.to streamline development and avoid the overhead of a more structured approach.

Q2. State and Explain the features of MongoDB.

The features are -

1.Support ad hoc queries-In MongoDB, you can search by field, range query and it also supports regular expression searches.

2.Indexing- You can index any field in a document.

3.Replication-MongoDB supports Master Slave replication.

4.Duplication of data-MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware breakdown.

5.Load balancing-It has an automatic load balancing configuration because of data placed in shards.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
db = client['pwskills_Data']

In [40]:
coll=db["my_course"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [41]:
Dta={'name':'sudh','course':'data science'}

In [42]:
coll.insert_one(Dta)

In [43]:
Dta1=[{'name':'sudh'},{'course':'data science'},{'mode':'online'}]

In [44]:
coll.insert_many(Dta1)

In [45]:
for i in coll.find({'name':'sudh'}):
    print(i)

{'_id': ObjectId('63fe74d8bad641e1933554df'), 'name': 'sudh', 'course': 'data science'}
{'_id': ObjectId('63fe74dabad641e1933554e0'), 'name': 'sudh'}

In [46]:
 coll.find_one()

{'_id': ObjectId('63fe74d8bad641e1933554df'),
 'name': 'sudh',
 'course': 'data science'}

Q5.Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one.

In [41]:
dat3={'Roll':1,'Roll':2}

In [42]:
coll.insert_one(dat3)

In [21]:
#example
for i in coll.find():
    print(i)

{'_id': ObjectId('63fe634f066f646bf4a2fbd8'), 'name': 'sudh', 'course': 'data science'}
{'_id': ObjectId('63fe63ee066f646bf4a2fbd9'), 'name': 'sudh'}
{'_id': ObjectId('63fe63ee066f646bf4a2fbda'), 'course': 'data science'}
{'_id': ObjectId('63fe63ee066f646bf4a2fbdb'), 'mode': 'online'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection.
syntax-   
    
    db.Collection_Name.sort({filed_name:1 or -1})

In [93]:
coll5=db["my1"]

In [96]:
da5=({'Roll':1},{'Roll':2},{'Roll':3})

In [97]:
coll5.insert_many(da5)

In [98]:
coll5.find()

In [102]:
z=coll5.find().sort('Roll',1)

In [103]:
for i in z:
    print(i)

{'_id': ObjectId('63fe78cabad641e1933554e9'), 'Roll': 1}
{'_id': ObjectId('63fe79cbbad641e1933554ef'), 'Roll': 1}
{'_id': ObjectId('63fe7a20bad641e1933554f2'), 'Roll': 1}
{'_id': ObjectId('63fe7a34bad641e1933554f5'), 'Roll': 1}
{'_id': ObjectId('63fe6f97bad641e1933554da'), 'Roll': 2}
{'_id': ObjectId('63fe714fbad641e1933554dd'), 'Roll': 2}
{'_id': ObjectId('63fe75bfbad641e1933554e4'), 'Roll': 2}
{'_id': ObjectId('63fe78cabad641e1933554ea'), 'Roll': 2}
{'_id': ObjectId('63fe798dbad641e1933554ed'), 'Roll': 2}
{'_id': ObjectId('63fe79cbbad641e1933554f0'), 'Roll': 2}
{'_id': ObjectId('63fe7a20bad641e1933554f3'), 'Roll': 2}
{'_id': ObjectId('63fe7a34bad641e1933554f6'), 'Roll': 2}
{'_id': ObjectId('63fe6f97bad641e1933554db'), 'Roll': 3}
{'_id': ObjectId('63fe714fbad641e1933554de'), 'Roll': 3}
{'_id': ObjectId('63fe75bfbad641e1933554e5'), 'Roll': 3}
{'_id': ObjectId('63fe78cabad641e1933554eb'), 'Roll': 3}
{'_id': ObjectId('63fe798dbad641e1933554ee'), 'Roll': 3}
{'_id': ObjectId('63fe79cbbad641e1933554f1'), 'Roll': 3}
{'_id': ObjectId('63fe7a20bad641e1933554f4'), 'Roll': 3}
{'_id': ObjectId('63fe7a34bad641e1933554f7'), 'Roll': 3}
{'_id': ObjectId('63fe6f97bad641e1933554d9'), 'Roll': 10}
{'_id': ObjectId('63fe714fbad641e1933554dc'), 'Roll': 10}
{'_id': ObjectId('63fe75bfbad641e1933554e3'), 'Roll': 10}
{'_id': ObjectId('63fe798dbad641e1933554ec'), 'Roll': 10}
{'_id': ObjectId('63fe7870bad641e1933554e6'), 'Roll': 'a'}
{'_id': ObjectId('63fe7870bad641e1933554e7'), 'Roll': 'b'}
{'_id': ObjectId('63fe7870bad641e1933554e8'), 'Roll': 'c'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_one() -a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted.

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

DROP()-The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully. It takes one parameter which is optional.